---
language: en
pipeline:
  - name: SpacyNLP
    # language model to load
    model: "en_core_web_md"

  - name: SpacyTokenizer
  - name: SpacyFeaturizer
  - name: RegexFeaturizer
  - name: LexicalSyntacticFeaturizer

  - name: CountVectorsFeaturizer
    # Analyzer to use, either 'word', 'char', or 'char_wb'
    analyzer: char_wb
    # Set the lower and upper boundaries for the n-grams
    min_ngram: 1
    max_ngram: 4
    # Set the out-of-vocabulary token
    # OOV_token: _oov_
    # Whether to use a shared vocab
    # use_shared_vocab: False

  - name: DIETClassifier
    model_confidence: linear_norm
    constrain_similarities: True
    epochs: 100
    # can turn off cause we are using Regex Entity Extractor
    entity_recognition: False

  - name: RegexEntityExtractor
    # text will be processed with case insensitive as default
    case_sensitive: False
    # use lookup tables to extract entities
    use_lookup_tables: False
    # use regexes to extract entities
    use_regexes: True

  - name: EntitySynonymMapper
  - name: ResponseSelector
    # model_confidence: linear_norm
    # constrain_similarities: True
    epochs: 100

  - name: FallbackClassifier
    threshold: 0.5
    ambiguity_threshold: 0.1


# Configuration for Rasa Core.
# https://rasa.com/docs/rasa/core/policies/
policies:
  - name: MemoizationPolicy
    constrain_similarities: True
    epochs: 100
    # model_confidence: linear_norm
    # constrain_similarities: True
  - name: RulePolicy