# Configuration for Rasa NLU.
# https://rasa.com/docs/rasa/nlu/components/
language: en

# https://rasa.com/docs/rasa/tuning-your-model/
pipeline:
  - name: SpacyNLP
    # language model to load
    model: "en_core_web_md"

  - name: SpacyTokenizer
  - name: SpacyFeaturizer
  - name: RegexFeaturizer
  - name: LexicalSyntacticFeaturizer

  - name: CountVectorsFeaturizer
    # Analyzer to use, either 'word', 'char', or 'char_wb'
    analyzer: char_wb
    # Set the lower and upper boundaries for the n-grams
    min_ngram: 1
    max_ngram: 4
    # Set the out-of-vocabulary token
    # OOV_token: _oov_
    # Whether to use a shared vocab
    # use_shared_vocab: False

  - name: DIETClassifier
    # [BUG] This two parameter lower confidence of every intent, so it mess up with nlu_fallback
    # model_confidence: linear_norm
    # constrain_similarities: True
    epochs: 50    # Muc 30 loss giam nhung acc khong tang nua
    # can turn off cause we are using Regex Entity Extractor
    entity_recognition: False

  - name: RegexEntityExtractor
    # text will be processed with case insensitive as default
    case_sensitive: False
    # use lookup tables to extract entities
    use_lookup_tables: False
    # use regexes to extract entities
    use_regexes: True

  - name: EntitySynonymMapper
  - name: ResponseSelector  # https://rasa.com/docs/rasa/2.3.x/migration-guide#machine-learning-components-1
    # model_confidence: linear_norm
    # constrain_similarities: True
    epochs: 100

  - name: FallbackClassifier
    threshold: 0.7
    # ambiguity_threshold: 0.1

# Configuration for Rasa Core.
# https://rasa.com/docs/rasa/core/policies/
policies:
  - name: MemoizationPolicy # This for stories.yml
  - name: TEDPolicy         # Machine Learning Transformer Embedding Dialogue
    # model_confidence: linear_norm
    # constrain_similarities: True
    epochs: 100
  - name: RulePolicy        # This for rules